@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow&family=Coda:wght@400;800&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Barlow&family=Coda:wght@400;800&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pixelify+Sans:wght@400..700&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* transitions */

.hid-phone{
    display: block;
}

.hidden{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.show{
    opacity: 100%;
    transform: translateY(0);
}

.translate button{
    background-color: #4073F5;
    color: white;
    height: 32px;
    width: 32px;
    text-align: center;
    border: none;
    /* padding: 10px; */
    border-radius: 999px;
    margin-left: 5px;
}

body{
    /* background-image: url(img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-color: #2B2829; */
    min-height: 100vh;
    font-family: "Instrument Sans", sans-serif;
    color: white;
    position: relative; 
    cursor: none; /* hide default cursor */
    
}

#bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

header{
    /* background-color: rgba(255, 255, 255, 0.25); */
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-cont{ /* content of all the menu items */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #2B2829; */
    background-color: hsla(340, 4%, 16%, 0.95);
    border-radius: 100px;
    height: 40px;
}

/* .nav-cont a.active{
    background-color: #4073F5;
    transform: scaleX(1.05) scaleY(1.05);
    transition: 0.3s ease-in-out;
} */
header ul li:has(a.active) {  /* styling van a ging niet goed, style de li  */
    background-color: #4073F5;
    transform: scaleX(1.05) scaleY(1.05);
    transition: 0.3s ease-in-out;
}

header ul li a{
    list-style: none;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}
header ul li{
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 100px;
    width: 8vw;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: transparent;
}
header ul li:hover {
    background-color: #4073F5;
    transform: scaleX(1.05) scaleY(1.05);
}

header ul{ /* puts list horizontal + no list style */
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li:hover, header ul li.active{
    background-color: #4073F5;
    transform: scaleX(1.05) scaleY(1.05);
    transition: 0.3s ease-in-out;
}

/* sidebar css */

.menu-btn, .sidebar {
    display: none;
}

/* Sidebar hidden by default */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #111;
    color: white;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1050;
    display: none;
    flex-direction: column;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    align-self: flex-end;
  }


/* HOME SECTION */

#home{
    width: 100%;
    height: 110vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
}

.title{
    font-family: "Alfa Slab One", serif;
    font-size: 80px;
    font-weight: 400;
    font-style: normal;
    color: #4073F5;
    line-height: 85px;
}
.title-phone{
    display: none;
}
.p1{
    font-family: "Instrument Sans", sans-serif;
}

/* ABOUT SECTION */

#about{
    min-height: 110vh;
    background-color: hsla(340, 4%, 16%, 0.90);
    width: 100%;
}

.ab-text-side{
    width: 100%;
    padding: 150px 100px 75px 120px; /* top, right, bottom, left */
}
.ab-text-side div{
    display: flex;
    width: 100%;
    flex-direction: flex-end;
}

.links{
    color: #4073F5;
}.links li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
}.links li i{
    margin-right: 10px;
    font-size: 25px;
    vertical-align: text-bottom;
}.links li a{
    text-decoration: none;
    color: #4073F5;
    transition: 0.3s;
    padding-right: 5rem;
}.links li a:hover{
    color: white;
}

.line{
    background-color: #4073F5;
    height: 4px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.paragraph{
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    /* padding-right: 50px; */
}
.text-box{
    /* padding-left: 50px; */
    padding-right: 10px;
}

/* WORK SECTION */

#work{
    min-height: 100vh;
    background-color: hsla(340, 4%, 16%, 0.90);
    width: 100%;
    /* padding: 150px 150px 75px 120px; */
    padding: 100px 80px 50px 60px;

}

.title-work{
    font-family: "Alfa Slab One", serif;
    font-size: 76.24px;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 15px;
    color: #4073F5;
    line-height: 85px;
}

.work-right, .work-left{
    display: flex;
    margin-bottom: 25vh;
    height: 75vh;
}

.work-img, .wip-img{
    max-width: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    position: relative; /* added */
    margin-right: 15px;
}
.work-img img, .work-img-phone img .wip-img img{
    max-width: 600px;
    width: auto;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
    padding-bottom: 10px;
    margin-right: 15px;

}.work-livelink{
    text-decoration: none;
    color: #4073F5;
    padding-top: 10px;
    font-size: 22px;
}.work-livelink:hover{
    color: white;
    transition: 0.3s ease-in-out;
}
.work-img-phone{
    display: none;
}

.details{
    display: flex;
}
.detail-p{
    font-size: 18px;
    font-weight: 500;
    font-family: "Instrument Sans", sans-serif;
    background-color: #4073F5;
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 10px;
    color: #2B2829;
    overflow: auto;
    cursor: pointer;
}

.wip-section{
    height: 70vh;
    align-items: center;
    padding-bottom: 50px;
}

.wip-section img{
    width: 500px;
    border-radius: 15px;
    object-fit: cover;
    transition: 0.3s;
    cursor: pointer;
    display: block;
}

.wip{
    display: flex;
}



/* CONTACT SECTION */

#contact{
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-name{
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
    color: white;
}
.contact-email:hover{
    color: #4073F5;
    transition: 0.3s;
}
.email-call{
    color: white; text-decoration: none; font-weight: bold;
}
.email-call:hover{
    color: #4073F5;
    transition: 0.3s;
}
input{
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 18px;
    color: white;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    background-color: hsla(0, 0%, 100%, 0);
}
textarea{
    border-radius: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: hsla(0, 0%, 100%, 0);
}

.contact-btn {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s;
}

.contact-btn:hover {
    background-color: #4073F5;
    border-color: #4073F5;
}



footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(340, 4%, 16%, 0.95);
    color: white;
    font-size: 14px;
}

.query-text{
    display: none;
}
.query-title{
    display: none;
}
/* MEDIA QUERIES */

/* Tablets / medium screens */
@media (max-width: 1160px){
    .work-img{
        max-width: 500px;
    width: auto;
    transition: 0.3s ease-in-out;
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 60px;
        line-height: 70px;
    }
    .ab-text-side {
        padding: 120px 30px 50px 50px;
        width: 80%;
    }
    .hid-phone{
        display: none;
    }
    .text-box{
        display: none;
        padding: 0;
    }
    .query-text{
        display: block;
        padding-top: 20px;
        font-size: 18px;
    }
    .query-title{
        display: block;
    }
    #work {
        padding: 100px 80px 50px 100px;
    }
    .title-work{
        font-family: "Alfa Slab One", serif;
        font-size: 60px;
    }
    .work-right, .work-left {
        flex-direction: column;
        height: auto;
        margin-bottom: 15vh;
    }
    .work-img{
        max-width: 600px;
    width: auto;
    transition: 0.3s ease-in-out;
    }
    .work-img img {
        max-width: 90%;
    }
    header ul li {
        width: auto;
        padding: 8px 12px;
        font-size: 16px;
    }

    .wip{
        flex-direction: column;
        align-items: center;
    }
    .wip-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .wip-img a img{
        width: 100%;
        height: auto;
        padding: 10px 20px;
        border-radius: 15px;
    }
    .wip-section img{
        width: 80%;
        height: 100%;
    }
    .wip-section{
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 50px;
        flex-direction: column;
    }
    .wip-section h1{
        text-align: center;
    }
    .wiplink{
        padding-left: 40px;
    }
}

/* Phones / small screens */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    header{
        width: 100%;
        background-color: hsla(340, 4%, 16%, 0.20);
        backdrop-filter: blur(10px);
        height: 60px;
        justify-content: flex-start;
        align-items: center;
    }
    .title-work{
        font-family: "Alfa Slab One", serif;
        font-size: 56px;
        text-align: center;
    }

    .menu-btn{
        display: block;
        position: absolute;
        left: 20px;
        top: 15px;
        color: #2B2829;
        z-index: 1100;
        cursor: pointer;
    }
    .sidebar{
        display: flex;
        height: 100vh;
    }
    .comp-header{
        display: none;
    }
    .menu-btn {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
    }
    .title {
        font-size: 40px;
        line-height: 50px;
        padding-left: 35px;
    }
    .title-phone{
        display: block;
    }
    .title-comp{
        display: none;
    }
    #home {
        height: 100vh;
        padding: 20px;
    }
    .ab-text-side {
        padding: 80px 20px 50px 20px;
        width: 100%;
    }
    #work {
        padding: 80px 20px 50px 20px;
    }
    .work-right, .work-left {
        flex-direction: column;
    }
    .wip{
        flex-direction: column;
        align-items: center;
    }
    .wip-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .wip-img a img{
        width: 100%;
        height: auto;
        padding: 10px 20px;
        border-radius: 15px;
    }
    
    .wip-section img{
        width: 90%;
        height: 100%;
    }
    .wip-section{
        justify-content: center;
        align-items: center;
        height: auto;
        padding-bottom: 50px;
        flex-direction: column;
    }
    .wip-section h1{
        text-align: center;
    }
    .paragraph{
        margin-right: 50px;
    }

    .wip-title{
        line-height: 40px;
    }
    
    
    header ul {
        flex-direction: column;
        gap: 10px;
    }
    header ul li {
        width: 100%;
    }
    input, textarea {
        width: 90%;
    }

    #work {
        padding: 50px 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px 20px 50px 20px;
    }
    .work-right, .work-left {
        padding-bottom: 50px;
        flex-direction: column;
    }
    .paragraph{
        padding-right: 0;
    }

    .work-left img, .work-right img {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .text-box{
        padding-left: 35px;
    }
    .work-livelink{
        padding-left: 35px;
    }
}


/* Extra small phones */
@media (max-width: 480px) {
    .title {
        font-size: 28px;
        line-height: 36px;
    }
    .paragraph {
        font-size: 16px;
        padding-right: 0;
    }
    .ab-text-side {
        padding: 50px 10px;
    }
    #work {
        padding: 50px 10px;

        display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center vertically (if there's height) */
    align-items: center;     /* Center horizontally */
    padding: 80px 20px 50px 20px; /* same as before */
    height: auto; 
    }
    .work-right, 
.work-left {
    display: flex;           /* ensure flex behavior */
    flex-direction: column;  /* stack child items vertically */
    align-items: center;     /* center inner content horizontally */
    justify-content: center; /* optional, for vertical centering inside */
    text-align: center;      /* centers text as well */
}

.work-left img,
.work-right img {
  max-width: 90%;
  height: auto;
  margin: 0 auto;
}
    .work-img-phone a {
        font-size: 18px;
    }
}

/* Cursor */
.cursor{
    position: fixed;
    height: 24px;
    width: 24px;
    border-radius: 32px;
    background-color: light-dark(rgb(255, 255, 255), white);
  transform: translate(-50%, -50%); 
  transform-origin: top left;
    pointer-events: none; /* zorgt dat je nog steeds op dingen kan klikken */
    transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, border 0.2s ease;
    z-index: 9999; /* circel boven alle andere elementen */

    mix-blend-mode: difference; 
}

.click{
    scale: 0.8;
}
.hover{
    scale: 1.5;
    /* transition: 0.1s ease-in-out; */
}

/* HOVER UNDERLINES */

.hover-underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #4073F5;
    padding-top: 10px;
    font-size: 22px;
}
.hover-underline:hover{
    color: white;
}
  
.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 110%;
    height: 2px;
    background: white;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}
  
.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}